* {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Manjari';
}
.f-loc-title{
    font-size: 40px;
}
.f-loc-text{
    font-size: 25px;
}
.f-loc-time{
    font-size: 15px;
}
.f-Gabriela{
    font-family: 'Gabriela';
}
.f-Manjari{
    font-family: 'Manjari';
}
.f-Stalemate{
    font-family: 'Stalemate';
    font-size: 50px;
    padding:0 !important;
    margin: 0 !important;
    margin-bottom: -50px !important;
}
@font-face {
    font-family: 'Manjari';
    src: url('Manjari.woff2') format('woff2');
}
@font-face {
    font-family: 'Stalemate';
    src: url('Stalemate.woff2') format('woff2');
}
   @font-face {
   font-family: 'Gabriela';
    src: url('Gabriela.woff2') format('woff2');
}



.selector-for-some-widget {
    box-sizing: content-box;
}

#living,
#bedroom,
#dining,
#kitchen {
    cursor: pointer;
}


#living_row,
#bedroom_row,
#dining_row,
#kitchen_row {
    display: none;
}


.parallax {
    background-image: url("https://images.pexels.com/photos/414660/pexels-photo-414660.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: normal;
    overflow: hidden;
    margin-top: 1rem !important;
}

p{
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.header {
    background-image: url(https://images.pexels.com/photos/2253870/pexels-photo-2253870.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}


.head-stickbot {
    position: absolute;
    bottom: 0 !important;
    right: 0;
    width: 100%;
}

.in-behind {
    z-index: -1;
}

.rose1-50 {
    background: rgba(198, 93, 123, .5);
}

.t-center {
    padding: auto;
    margin: auto;
}


#Caro {
    z-index: 1;
}

.i2 {
    z-index: 2;
}

.cat-reg {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;

}

.gal-captionlines {

    border-left: 3px solid #C65D7B;
}

.parallax {
    min-height: 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-a-parallax {
    background-image: url(https://images.pexels.com/photos/574011/pexels-photo-574011.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.caro_a {
    background-image: url(https://images.pexels.com/photos/2253870/pexels-photo-2253870.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    opacity: 20%;
    background-position: center;
    z-index: -1;
}
.mt-7{
    margin-top: 14rem;
}
.play_btn{
    width: 10%;
    left: 45%;
    top: 41%;
    bottom: 44%;
}
.col-xs-0, 
.col-sm-0,
.col-md-0,
.col-lg-0 {
  flex: 0 0 0;
  max-width: 0;
}

@media (max-width: 991px) {
    .head-md-width {
        width: 40%;
    }
}

/* small screen and below*/
@media (max-width: 576px) {
    .display-sm-none{
        visibility:hidden;
    }
    .f-md-7{
        font-size: 15px;
    }
    .f-loc-title{
        font-size: 20px;
    }
    .f-loc-text{
        font-size: 15px;
    }
    .f-loc-time{
        font-size: 5px;
    }
}

/* for mid screen and below only */
@media (max-width: 991px) {
    

}

/* for large+ screen only */
@media (min-width: 991px) {

}

/* for ,mid+ screen only */
@media (min-width: 576px) {
    .f-md-7{
    font-size: 70px;
}
.fs-md-4{
    font-size: 30px !important;
}
}

.pt-n {
    margin-top: -3rem !important;
}

.pt-6,
.py-6 {
    padding-top: 5rem !important;
}

.pr-6,
.px-6 {
    padding-right: 5rem !important;
}

.pb-6,
.py-6 {
    padding-bottom: 5rem !important;
}

.pl-6,
.px-6 {
    padding-left: 5rem !important;
}