* {
    padding: 0 !important;
    overflow-x: hidden;
}

.bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    background-image: url(https://images.pexels.com/photos/2253870/pexels-photo-2253870.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.head-stickbot {
    position: absolute;
    bottom: 0 !important;
    right: 0;
    width: 100%;
}
.block-info{
    background-size: 50vw;
    object-fit:cover;
    background-repeat: no-repeat;
    height:50vh
}
#block1{
    background-image: url(https://images.pexels.com/photos/2253870/pexels-photo-2253870.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);   
}
.bg-oldrose{
background-color: #be7e75;
}

@media (max-width: 991px) {
    .head-md-width {
        width: 40%;
    }
   
}




@media (max-width: 990px) {
    .block-info{
        background-size: 100%;
        object-fit:cover;
        background-repeat: no-repeat;
        height: 50vh;
    }
}


/* for mid screen+ only */
@media (min-width: 576px) {
  
}
/* for large+ screen only */
@media (min-width: 991px) {
    .block-info{
        background-size: 80%;
        object-fit:cover;
        background-repeat: no-repeat;
        height: 50vh;
    }
    
}